h1 {
  font-size: 50px;
}

h3 {
  font-size: 50px;
}

header {
  padding-left: 20px;
  padding-top: 30px;
}

.home-page{
  color:rgb(255, 255, 255);
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.highscores-page {
  color: rgb(255, 255, 255);
  font-family: 'Edu NSW ACT Foundation', cursive;

}

.background-home {  
  background-image: url("../beach-g3aba628e9_1920.jpg");
  background-color: #cccccc; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.background-highscores {  
  background-image: url("../mountains-g874635601_1920.jpg");
  background-color: #cccccc; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  padding-top:100px;

}


main div button {
  margin-right: 20px;
  font-size: 20px;
  cursor:pointer;
}


.start-button {
  font-size: 30px;
  cursor:pointer;

}

label {
  font-size: 50px;
}

#to-highscores, #home-page:hover {
  cursor: pointer;
}


@media screen and (max-width: 768px){
  .background-highscores, .background-home {
    max-height: 100%;
  }

  main{
    padding: 20px;
    padding-top:100px;
  }

  main h1, main h2 {
    font-size: 2rem;
  }

}

input {
  height: 30px;
  font-size: 20px;
}

#form-button {
  font-size: 30px;
  cursor:pointer;

}

label {
  font-size: 40px;
}


